# Build and Release Folders
bin/
bin-debug/
bin-release/

#workspace file
testGitProject.xcodeproj/project.xcworkspace/xcuserdata/jinpeili.xcuserdatad/
.gitignore

# Other files and folders
.settings/

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
